<div class="row">
  <div class="col-xs-12">
    <img [src]="activeRecipe.imgPath" 
    [alt]="activeRecipe.name" 
    class="image-responsive" 
    style="max-height: 300px">
  </div>
</div>
<div class="row">
  <div class="col-xs-4">
    <h3>{{ activeRecipe.name }}</h3>
  </div>
  <div class="col-xs-8" style="line-height: 56px">
    <div appDropDown class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a routerLink="../../../shopping-list">Adding Ingredients to Shopping List</a></li>
        <li><a style="cursor: pointer" (click)="navigateToEditRecipe()">Edit Recipe</a></li>
        <li><a style="cursor: pointer" (click)="onDeleteRecipe()">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    {{ activeRecipe.description }}
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <a class="list-group-item" 
        style="cursor: pointer"
        *ngFor="let ingredient of activeRecipe.ingredients; let i = index">
        {{ ingredient.name }} ({{ ingredient.amount }})
      </a>  
    </ul>
  </div>
</div>